<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    <p>
      &copy; Copyright 2022 : CSCI 3308 - Lab 9 Web Services
    </p>
  </footer>
</body>
</html>
