<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->    
    <h1>Logged in sucessfully</h1>
    <div class="col"><%- include ('../partials/message') %></div>
        <div class="row">
            <img src="https://m.media-amazon.com/images/M/MV5BZDE2ZjIxYzUtZTJjYS00OWQ0LTk2NGEtMDliYmI3MzMwYjhkXkEyXkFqcGdeQWFsZWxvZw@@._V1_.jpg" alt="shrek">
        </div>
  </div>
</main>

<%- include ('../partials/footer') %>