<style>
  /* Your CSS styles go here */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f3f5;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #f0f3f5; /* Add this line to set the background color to white */
  }



  .user-profile {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }

  #profile-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
  }

  .user-profile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .high-text {
    color: red;
  }

  h1 {
    color: #333;
  }

  h2 {
    color: #ff6347;
    margin-top: 10px;
  }

  .row img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
  }

  .info-box {
    background-color: #f0f3f5;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin at the bottom */
  }

  .info-box p {
    margin: 0;
    color: #555;
    font-size: 24px;
    line-height: 1.6;
  }
</style>

<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class='nav-link' href='/reports'>Reports</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' href='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' href='/Learn'>Learn</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' href='/adminControls'>Admin Controls</a>
          </li>
        </ul>
        <ul class="navbar-nav me-1">

          <% if (locals.loggedin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class='nav-link' href='/login'>Login</a>
            </li>
          <% } %>
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="/edituser">Edit Profile</a>
          </li> -->
        </ul>
        <div class="user-profile">
          <a class="nav-link" href="/edituser" ><img id="profile-icon" height="35px" src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" alt="Profile Icon" ></a>
        </div>
      </div>    
    </div>
    
  </nav>
</header>
